<ion-content *ngIf="(store$ | async) as store">
  <ion-content class="ion-padding">
    <div mode="ios" class="slide-fromTop" id="open-modal-carnet" expand="block">
      <ion-icon name="cog"></ion-icon>
      <p>Tipo de carnet seleccionado:
        <span>{{store.tipoCarnet}}</span>
      </p>
    </div>
    <ion-modal #openModalCarnet trigger="open-modal-carnet" [initialBreakpoint]="0.8">
      <ng-template>
        <div class="carnet-selector-container">
          <div class="header-title-carnet">
            <ion-icon name="id-card"></ion-icon>
            <p class="tipos-carnet-title">Seleccionar tipo de carnet</p>
          </div>
          <ng-container *ngFor="let carnet of carnets">
            <p [class]="carnet.tipo === store.tipoCarnet ? 'selected carnet-selector' : 'carnet-selector' "
              (click)="setTipo(carnet.tipo)">
              <span>{{carnet.tipo}}</span> -
              {{carnet.descripcion}}
            </p>
          </ng-container>
        </div>
      </ng-template>
    </ion-modal>
    <div class="start-test-container">
      <ion-img src="/assets/test.svg" class="init" />
      <h1 class="init">Simulador de Examen DGT - Carnet tipo <span>{{store.tipoCarnet}}</span></h1>
      <p class="init">Refuerza tus conocimientos en los test y permite que la IA te brinde los conocimientos necesarios,
        recuerda el
        maestro nace del ser constante y practicar mucho!</p>
      <ion-button mode="ios" class="init" (click)="startDGTSimulator(store.tipoCarnet)">Empezar prueba DGT</ion-button>
    </div>
  </ion-content>
</ion-content>
